.button {
	font-family: $ff;
	font-style: normal;
	font-weight: $fw-bold;
	font-size: 16px;
	line-height: 1;
	text-align: center;
	letter-spacing: 0.065em;
	color: $white;
	filter: $shadow-1;
	border-radius: $bord;
	background-color: $accent;
	padding: 23px 45px;
	text-transform: uppercase;
	border: 0;
	transition: background-color ease $tr,
		filter ease $tr, color ease $tr;
	cursor: pointer;

	&:hover {
		background-color: $grey;
		filter: $shadow-2;
	}

	&.white {
		border: 2px solid $accent;
		background-color: $white;
		color: $main-bg;
		filter: none;

		&:hover {
			background-color: $accent;
			filter: $shadow-1;
			color: $white;
		}
	}

	&.dark {
		border: 2px solid $accent;
		background-color: $main-bg;
		color: $white;

		&:hover {
			background-color: $accent;
			filter: $shadow-1;
			color: $white;
		}
	}

	&.form-anchor {
		border: 1px solid $white;
		color: $white;
		background: transparent;
		filter: none;
		padding: 10px 24px;
		font-size: 15px;

		&:hover {
			background-color: $white;
			color: $black;
		}
	}
}

.burger-button {
	position: relative;
	width: 33px;
	height: 25px;
	transition: opacity ease $tr;
	cursor: pointer;
	z-index: 101;
	margin-left: 26px;

	span {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 1px;
		background: $white;
		transition: transform ease $tr;

		&::before, &::after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height:	1px;
			background: $white;
		}

		&::before {
			top: 10px;
			width: 100%;
			transition: left ease $tr,
				opacity ease $tr;
		}

		&::after {
			top: 20px;
			transition: transform ease $tr;
		}
	}

	&:hover {
		span::before {
			width: 100%;
			left: 0;
		}
	}

	&.opened {
		animation:  rot 0.7s 1 cubic-bezier(0.455, 0.03, 0.515, 0.955);

		@keyframes rot {
			0% {
				transform: rotate( 0 );
			}

			100% {
				transform: rotate( 360deg);
			}
		}
		span {
			transform: rotate( -45deg );
			top: 10px;
			background: $white;
		}

		span::before {
			opacity: 0;
		}

		span::after {
			background: $white;
			transform: rotate( 90deg );
			top: 0;
		}
	}

	&:hover {
		opacity: $op;
	}
}

.swiper-prev, .swiper-next, .swiper-next-video, .swiper-prev-video, 
.swiper-next-gallery, .swiper-prev-gallery {
	width: 46px;
	height: 46px;
	border: 2px solid $accent;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: rotate( 180deg );
	transition: background-color ease $tr;
	cursor: pointer;
	position: absolute;
	top: 50%;
	z-index: 1;

	&.white {
		background-color: $white;

		img {
			transition: filter ease $tr;
			filter: brightness( 0 );
		}

		&:hover {
			background-color: $accent;

			img {
				filter: brightness( 100% );
			}
		}
	}

	&.black {
		background-color: $main-bg;

		&:hover {
			background-color: $accent;
		}
	}
}

.swiper-next, .swiper-next-video, .swiper-next-gallery {
	transform: rotate( 0 );
	right: 0;
}

.swiper-prev, .swiper-prev-video, .swiper-prev-gallery {
	left: 0;
}