h1, .h1,
h2, .h2,
h3, .h3 {
	font-family: $ff-title;
	font-weight: $fw-bold;
	line-height: $lh-title;
	margin: 0;
}

h1, .h1 {
	font-size: 50px;
	font-family: $ff-title;
	font-style: normal;
	font-weight: $fw-bold;
	line-height: $lh;
	text-align: center;
	color: $white;
	max-width: 280px;

	@media all and (min-width: $md) {
		max-width: 600px;
	}

	@media all and (min-width: $lg) {
		font-size: 80px;
		max-width: 749px;
	}
}

h2, .h2 {
	font-family: $ff-title;
	font-style: normal;
	font-weight: $fw-bold;
	font-size: 70px;
	line-height: $lh-title;
	color: $white;
}

h3, .h3 {
	font-family: $ff;
	font-style: normal;
	font-weight: $fw-medium;
	line-height: $lh-max;
	text-align: center;
	font-size: 30px;
	color: $white;
}

a {
	display: inline-block;
	text-decoration: none;
	transition: color ease-out $tr,
			background-color ease $tr;
}

p {
	margin: 0;
}

img {
	display: block;
}

b, strong {
	font-weight: $fw-bold
}