h1, .h1,
h2, .h2,
h3, .h3 {
	font-family: $ff-title;
	font-weight: $fw-bold;
	line-height: $lh-title;
	margin: 0;
}

h1, .h1 {
	font-size: 50px;

	@media all and (min-width: $lg) {
		font-size: 80px
	}
}

h2, .h2 {
	font-size: 24px;

	@media all and (min-width: $lg) {
		font-size: 36px
	}
}

h3, .h3 {
	font-size: 30px;
	line-height: 140%;
}

a {
	display: inline-block;
	text-decoration: none;
	transition: color ease-out $tr,
			background-color ease $tr;
}

p {
	margin: 0;
}

img {
	display: block;
}

b, strong {
	font-weight: $fw-bold
}