// Grid.
$xs	: 375px;
$sm	: 480px;
$m	: 576px;
$md	: 768px;
$lg	: 992px;
$xl	: 1200px;
$xxl: 1366px;

// Container max-width.
$container-md: 760px;
$container-lg: 990px;
$container-xl: 1200px;

// Container padding.
$container-padding: 24px;

// Font families.
$ff			: 'Gogh', sans-serif;
$ff-title	: 'Bebas Neue', sans-serif;
$btn	    : 'Inter', sans-serif;

// Font sizes.
$fs-xs	: 12px;
$fs-sm	: 14px;
$fs-md	: 16px;
$fs-lg	: 18px;
$fs-xl	: 20px;

// Font weights.
$fw-light	: 300;
$fw-regular	: 400;
$fw-medium	: 500;
$fw-semibold: 600;
$fw-bold	: 700;

// Line heights.
$lh			: 1.1;
$lh-title	: 1;
$lh-max	    : 1.4;
$lh-bet	    : 1.3;

// Colors.
$white	 : #FFFFFF;
$black	 : #000000;
$accent	 : #D1A972;
$grey	 : #A7A7A7;
$light	 : #A6A6A6;
$dark    : #2E2E2E;
$main-bg : #252525;
$inp     : #515151;

//shadows
$shadow-1 : drop-shadow(0px 0px 12px rgba(209, 169, 114, 0.62));
$shadow-2 : drop-shadow(0px 0px 12px rgba(161, 155, 145, 0.62));;

// Others.
$tr   : 0.35s;
$op   : 0.7;
$bord : 49.6714px;