.clinic {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: $main-bg;

	@media all and (min-width: $lg) {
		padding: 82px 0 152px;
		max-height: 568px;
		background-color: transparent;

		&::before {
			content: "";
			display: block;
			background: linear-gradient(90deg, rgba(37, 37, 37, 0.99) 7.53%, rgba(37, 37, 37, 0) 111.56%);
			position: absolute;
			top: 0;
			left: 0;
			width: 100vw;
			height: 100%;
			z-index: 1;
		}
	}

	.video {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: -1;
		display: none;

		@media all and (min-width: $lg) {
			display: block;
		}
	}

	&-img {
		position: relative;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		margin-top: 20px;

		@media all and (min-width: $lg) {
			display: none;
		}
	}

	.container {
		max-width: 1180px;
		position: relative;
		z-index: 1;
	}

	h2 {
		text-align: left;
		margin-bottom: 30px;
		font-size: 35px;

		@media all and (min-width: $lg) {
			font-size: 70px;
		}
	}

	&-text {
		font-family: $ff;
		font-style: normal;
		font-weight: $fw-regular;
		font-size: 15px;
		line-height: $lh-max;
		color: $white;
		max-width: 600px;
		margin-bottom: 20px;

		@media all and (min-width: $lg) {
			font-size: 18px;
			margin-bottom: 45px;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}