.contacts {
	padding: 66px 0 71px;

	.container {
		max-width: 1190px;
	}

	h2 {
		color: $main-bg;
		line-height: $lh;
		margin-bottom: 37px;
	}

	&-wrapper {
		display: flex;
		margin-bottom: 73px;
	}

	&-left {
		width: 51%;
	}

	&-right {
		width: 49%;
	}

	&-phone {
		font-family: $ff-title;
		font-style: normal;
		font-weight: $fw-bold;
		font-size: 50px;
		line-height: $lh;
		color: $main-bg;
		transition: color ease $tr;
		margin-bottom: 55px;

		&:hover {
			color: $accent;
		}
	}

	&-address-text, .license {
		font-family: $ff;
		font-style: normal;
		font-weight: $fw-regular;
		font-size: 18px;
		line-height: $lh-max;
		color: $main-bg;
		margin-bottom: 18px;
		max-width: 488px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.license {
		margin-bottom: 35px;
		max-width: 326px;
	}

	&-items {
		display: flex;
		align-items: center;
	}

	&-item {
		margin-right: 20px;
		transition: opacity ease $tr;
		cursor: pointer;

		&:hover {
			opacity: $op;
		}

		&:last-child {
			margin-right: 0;
		}
	}

	&-map {
		display: flex;
		justify-content: center;
	}
}