.hero-bottom {
	background: $main-bg;
	

	@media all and (min-width: $lg) {
		border-top: 2px solid hsba(0, 0%, 18%, 1);
		border-bottom: 2px solid hsba(0, 0%, 18%, 1);
	}

	.container {
		max-width: 1280px;
		padding: 0 16px;

		@media all and (min-width: $lg) {
			padding: 0 24px;
		}
	}

	&-items {
		display: flex;
		flex-direction: column;

		@media all and (min-width: $lg) {
			flex-direction: row;
		}
	}
	&-item {
		width: calc( 100% / 1 );
		padding: 17px 0 27px;
		border-top: 1px solid $dark;
		border-bottom: 1px solid $dark;
		position: relative;

		@media all and (min-width: $lg) {
			width: calc( 100% / 3 );
			padding: 53px 0 48px;
			border: 0;

			&::after {
				position: absolute;
				right: 0;
				top: 0;
				content: "";
				display: block;
				width: 2px;
				height: 100%;
				background: $dark;
			}
		}

		&:last-child {
			border: 0;

			&::after {
				display: none;
			}
		}
	}
	&-inner {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	

		@media all and (min-width: $lg) {
			padding: 0 50px;
		}
	}

	&-title {
		font-family: $ff;
		font-style: normal;
		font-weight: $fw-medium;
		font-size: 18px;
		line-height: $lh-max;
		color: $white;
		margin-bottom: 10px;

		@media all and (min-width: $lg) {
			font-size: 24px;
			margin-bottom: 26px;
			max-width: 280px;
		}
	}

	&-text {
		font-family: $ff;
		font-style: normal;
		font-weight: $fw-regular;
		font-size: 15px;
		line-height: $lh-max;
		color: $light;

		@media all and (min-width: $lg) {
			font-size: 18px;
		}
	}
}