.info {
	padding: 22px 0;
	background: $main-bg;

	@media all and (min-width: $lg) {
		padding: 50px 0;
	}

	.container {
		max-width: 880px;
	}

	&-text {
		font-family: $ff;
		font-style: normal;
		font-weight: $fw-regular;
		font-size: 12px;
		line-height: $lh-max;
		text-align: center;
		color: $white;
		padding:  0 10px;

		@media all and (min-width: $lg) {
			font-size: 18px;
		}
	}
}