.slider {
	position: relative;
	padding: 40px 0 30px;
	background-color: $main-bg;

	@media all and (min-width: $lg) {
		padding: 80px 0 60px;
	}

	.container {
		max-width: 1300px;
	}

	h2 {
		margin-bottom: 30px;
		font-size: 35px;

		@media all and (min-width: $lg) {
			margin-bottom: 58px;
			font-size: 70px;
		}
	}

	.button.dark {
		padding: 16px 112px;
		font-family: $btn;

		@media all and (min-width: $lg) {
			padding: 22px 112px;
		}
	}

	&-wrapper {
		position: relative;
		padding: 50px 50px 0 50px;

		@media all and (min-width: $xl) {
			padding: 0;
		}
	}
}

.swiper-pagination {
	position: relative;
	bottom: 0;
	margin-top: 20px;

	@media all and (min-width: $lg) {
		margin-top: 38px;
	}

	&-bullet {
		width: 11px;
		height: 11px;
		background-color: #515151;

		&-active {
			background-color: $accent;
		}
	}
}

.main-swiper {
	width: auto;

	@media all and (min-width: $xl) {
		width: 985px;
	}
}

.main-slide {
	display: flex;
	justify-content: center;
	width: 231px;
	height: 231px;

	@media all and (min-width: $lg) {
		width: 400px;
		height: 400px;
	}

	picture {
		margin-right: 30px;

		&:last-child {
			margin-right: 0;
		}
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}