.header {
	background-color: $main-bg;
	padding: 12px 0;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	transition:
		box-shadow ease $tr,
		padding ease $tr;

	@media all and (min-width: $md) {
		padding: 19px 0;
	}

	&.scrolled {
		box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.623);
		padding: 14px 0;
	}

	.container {
		max-width: 1300px;
		padding: 0 15px;

		@media all and (min-width: $lg) {
			padding: 0 19px 0 78px;
			padding: 0 24px;
		}
	}

	.mobile-left {
		display: flex;
		justify-content: center;
		align-items: center;

		@media all and (min-width: $lg) {
			display: none;
		}

		.mobile-link {
			font-size: 11px;
			padding: 5px 10px;
		}

		.mobile-phone {
			transition: opacity ease $tr;

			img {
				width: 25px;
				height: 25px;
			}

			&:hover {
				opacity: $op;
			}
		}
	}

	&-logo {
		display: none;
		flex-direction: column;
		max-width: 186px;
		font-family: $ff;
		font-style: normal;
		font-weight: $fw-regular;
		font-size: 18px;
		line-height: $lh-bet;
		color: $white;
		transition: opacity ease $tr;
		margin-right: 40px;

		@media all and (min-width: $lg) {
			display: flex;
			font-size: 15px;
			margin-right: 20px;
		}

		@media all and (min-width: $xl) {
			font-size: 18px;
			margin-right: 82px;
		}

		&.mobile-logo {
			display: flex;
			font-size: 15px;
			margin-right: 0;

			@media all and (min-width: $lg) {
				display: none;
			}
			
			span {
				font-size: 10px;
			}
		}

		&:hover {
			opacity: $op;
		}

		span {
			font-size: 12px;
		}
	}

	&-wrapper {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media all and (min-width: $lg) {
			justify-content: flex-start;
		}
	}

	&-nav {
		display: none;
		align-items: center;
		margin-right: 42px;

		@media all and (min-width: $lg) {
			display: flex;
			margin-right: 20px;
		}

		@media all and (min-width: $xl) {
			margin-right: 42px;
		}
	}

	&-link {
		font-family: $ff;
		font-style: normal;
		font-weight: $fw-regular;
		font-size: 15px;
		line-height: $lh-bet;
		color: $white;
		transition: opacity ease $tr;

		&:last-child {
			margin-right: 0;
		}

		@media all and (min-width: $lg) {
			font-size: 12px;
			margin-right: 10px;
		}

		@media all and (min-width: $xxl) {
			font-size: 15px;
			margin-right: 30px;
		}

		&:hover {
			opacity: $op;
		}
	}

	&-phone {
		font-family: $ff;
		font-style: normal;
		font-weight: $fw-regular;
		font-size: 15px;
		line-height: $lh-bet;
		color: $white;
		transition: opacity ease $tr;
		display: none;

		@media all and (min-width: $lg) {
			display: flex;
		}

		@media all and (min-width: $xl) {
			font-size: 18px;
		}
		
		&:hover {
			opacity: $op;
		}

		&-mob {
			display: block;
			font-family: $ff;
			font-style: normal;
			font-weight: $fw-regular;
			font-size: 15px;
			line-height: $lh-bet;
			color: $white;
			margin: 20px 0;
			transition: opacity ease $tr;

			@media all and (min-width: $lg) {
				display: none;
			}

			&:hover {
				opacity: $op;
			}
		}
	}

	.form-anchor {
	
		margin-right: 12px;
		padding: 10px 20px;
		text-transform: none;

		@media all and (min-width: $lg) {
			margin-right: 26px;
		}
		
		&.desktop-btn {
			display: none;

			@media all and (min-width: $lg) {
				display: flex;
			}
		}
	}

	.burger-menu {
		display: none;

		&.opened {
			z-index: 100;
			padding-top: 20px;
			height: 100vh;
			position: fixed;
			background: $main-bg;
			width: 205px;
			right: 0;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			top: 40px;
			padding-left: 30px;

			@media all and (min-width: $lg) {
				width: 20%;
				height: 100%;
				top: 64px;
			}

			.form-anchor {
				margin-right: 0;

				@media all and (min-width: $lg) {
					display: none;
				}
			}
		}

		.burger-link {
			font-family: $ff;
			font-style: normal;
			font-weight: $fw-regular;
			font-size: 15px;
			line-height: $lh-bet;
			color: $white;
			margin-bottom: 20px;
			width: 120px;
			transition: color ease $tr;

			&:hover {
				color: $accent;
			}
		}
	}
}

.guide-page {
	.header-nav {
		margin-right: auto;
	}
}
