.footer {
	padding: 59px 0 67px;
	background-color: $main-bg;

	.container {
		max-width: 100%;
	}

	&-logo {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		font-family: $ff;
		font-style: normal;
		font-weight: $fw-regular;
		font-size: 18px;
		line-height: $lh-bet;
		text-align: center;
		color: $white;
		transition: opacity ease $tr;

		span {
			font-size: 12px;
		}

		&:hover {
			opacity: $op;
		}
	}
}